<section>
  <h3 [innerHTML]="'portfolio.my portfolio' | translate"></h3>
  <div>
    <a routerLink="ngx-duallistbox">
      <article>
        <img src="assets/images/projects/ngx-duallistbox.png" alt="@suarsan/ngx-duallistbox">
        <div>
          <img src="assets/icons/angular.svg" alt="angular">
          <h4>{{ 'portfolio.duallistbox.title' | translate }}</h4>
          <h5>{{ 'portfolio.duallistbox.description' | translate }}</h5>
        </div>
      </article>
    </a>
    <a routerLink="ngx-keyvalue">
      <article>
        <img src="assets/images/projects/ngx-keyvalue.png" alt="@suarsan/ngx-keyvalue">
        <div>
          <img src="assets/icons/angular.svg" alt="angular">
          <h4>{{ 'portfolio.keyvalue.title' | translate }}</h4>
          <h5>{{ 'portfolio.keyvalue.description' | translate }}</h5>
        </div>
      </article>
    </a>
  </div>
</section>