@import '../../../colors';

:host {
    display: flex;
    flex-direction: column;
    > section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        background-color: $text-light-color;
        padding: 5rem 0;
        > h3 {
            font-size: 5rem;
            font-weight: 600;
            padding: 50px 0 0 0;
            margin: 0;
            text-align: center;
            color: $text-dark-color;
            text-transform: uppercase;
        }
        > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 7.5rem;
            > a {
                > article {
                    position: relative;
                    width: calc(300px - 2rem);
                    height: 200px;
                    margin: 1rem;
                    overflow: hidden;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 15px rgba($text-dark-color, 0.25);
                    > img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: inherit;
                        height: inherit;
                        object-fit: cover;
                        transform: translate(-50%, -50%);
                    }
                    > div {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        padding: 1.5rem;
                        box-sizing: border-box;
                        background-color: rgba($text-dark-color, 0.9);
                        transition: background-color 0.2s ease-in-out;
                        > img {
                            position: absolute;
                            top: 60px;
                            left: 50%;
                            transform: translateX(-50%);
                            height: 30px;
                        }
                        > h4 {
                            position: absolute;
                            width: 80%;
                            top: 80px;
                            left: 50%;
                            transform: translateX(-50%);
                            font-size: 18px;
                            font-weight: 400;
                            color: rgba(255, 255, 255, 1);
                            text-align: center;
                            white-space: nowrap;
                        }
                        > h5 {
                            position: absolute;
                            width: 80%;
                            top: 80px;
                            left: 50%;
                            transform: translate(-50%, 150px);
                            font-size: 14px;
                            font-weight: 200;
                            color: rgba(255, 255, 255, 1);
                            margin: 10px 0 0 0;
                            opacity: 0;
                        }
                        &:hover {
                            background-color: rgba($primary-color, 0.95);
                            transition: background-color 0.2s ease-in-out;
                            > img {
                                opacity: 0;
                                transition: opacity 0.15s ease-out;
                            }
                            > h4 {
                                text-align: left;
                                transform: translate(-50%, -50px);
                                transition: all 0.25s ease-in;
                            }
                            > h5 {
                                opacity: 1;
                                transform: translate(-50%, 0);
                                transition: all 0.25s ease-in;
                            }
                        }
                    }
                    &:hover {
                        cursor: pointer;
                        box-shadow: 0px 0px 15px rgba($text-dark-color, 0.5);
                    }
                }
            }
        }
    }
}


@media (min-width: 552px) {
    :host {
       > section > div {
           max-width: 300px;
       }
    }
}
@media (min-width: 768px) {
    :host {
       > section > div {
           max-width: 600px;
       }
    }
}
@media (min-width: 1200px) {
    :host {
       > section > div {
           max-width: 900px;
       }
    }
}
@media (min-width: 1400px) {
    :host {
       > section > div {
           max-width: 1200px;
       }
    }
}