<section>
  <article>
    <h3 [innerHTML]="'about.about me' | translate"></h3>
    <i></i>
    <p translate>about.story</p>
    <button (click)="downloadCV()" translate>about.downloadcv</button>
  </article>
  <article>
    <span translate>about.visitmyprofiles</span>
    <div>
      <a href="https://github.com/Suarsan" target="_blank">
        <img src="assets/icons/github.svg" alt="github">
      </a>
      <a href="https://www.linkedin.com/in/javiersuarezsanchez/" target="_blank">
        <img src="assets/icons/linkedin.svg" alt="linkedin">
      </a>
      <a href="https://twitter.com/Javiersuarsan" target="_blank">
        <img src="assets/icons/twitter.svg" alt="twitter">
      </a>
    </div>
  </article>
</section>