@import '../../../colors';

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: $text-dark-color;
    padding: 75px 12% 75px 12%;
    > article {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
        padding-top: 25px;
        padding-bottom: 25px;
        > h3 {
            font-size: 5rem;
            font-weight: 600;
            padding-bottom: 0;
            margin: 0;
            color: $text-light-color;
            text-transform: uppercase;
        }
        > i {
            background-color: rgba($primary-color, 1);
            width: 100px;
            height: 2px;
            margin-top: 15px;
        }
        > p {
            font-size: 1.75rem;
            font-weight: 200;
            margin-top: 50px;
            text-align: justify;
            line-height: 1.2;
            color: $text-light-color;
        }
        button {
            font-size: 1.5rem;
            font-weight: 200;
            width: fit-content;
            letter-spacing: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 25px;
            padding-right: 25px;
            margin-top: 25px;
            color: rgba($text-light-color, 1);
            background-color: transparent;
            border: 2px solid rgba($text-light-color, 1);
            outline: 0;
            &:hover {
                cursor: pointer;
                background-color: rgba($primary-color, 1);
                border: 2px solid rgba($primary-color, 1);
                transition: background-color 0.5s ease-out;
            }
        }
        > span {
            font-size: 1.75rem;
            font-weight: 200;
            padding-top: 25px;
            margin-bottom: 25px;
            letter-spacing: 5px;
            color: $text-light-color;
        }
        > div {
            > a {
                > img {
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                    filter: brightness(4);
                    transition: all 0.2s ease-out;
                    &:hover {
                        transition: all 0.2s ease-out;
                        transform: scale(1.25);
                    }
                }
            }
        }
        &:nth-of-type(2) {
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 575px) {
    section {
        padding: 50px 5% 50px 5%;
        article {
            flex-basis: 100%;
            h3 {
                font-size: 4rem;
            }
            button {
                background-color: rgba($primary-color, 1);
                border: 2px solid rgba($primary-color, 1);
                align-self: center;
            }
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    section {
        padding: 50px 10% 50px 10%;
        article {
            flex-basis: 100%;
            h3 {
                font-size: 4rem;
            }
            button {
                margin-left: 0;
                background-color: rgba($primary-color, 1);
                border: 2px solid rgba($primary-color, 1);
                align-self: center;
            }
        }
    }
}

@media (min-width: 1600px) {
    section {
        padding: 100px 18% 50px 18%;
    }
}

::ng-deep section > article > h3 > span {
    font-weight: 100;
}