@import '../../../colors';

section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgba($text-dark-color, 1);
    padding: 25px 15px 10px 15px;
    > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        > a {
            font-size: 12px;
            font-weight: 300;
            color: rgba($text-neutral-color, 1);
            margin: 0 0 0 5px;
            text-decoration: none;
            outline: 0;
        }
        > h6 {
            font-size: 12px;
            font-weight: 300;
            color: rgba($text-neutral-color, 1);
            margin: 0;
            > a {
                text-decoration: none;
                color: rgba($text-neutral-color, 1);
                font-weight: 500;
                outline: 0;
            }
        }
        > div {
            > button {
                font-size: 10px;
                margin: 0 5px 0 5px;
                background-color: transparent;
                color: rgba($text-neutral-color, 1);
                border: 1px solid rgba($text-neutral-color, 1);
                border-radius: 5px;
                outline: 0;
                &.use {
                    background-color: rgba($text-neutral-color, 1);
                    color: rgba($text-dark-color, 1);
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        
    }
}

@media (max-width: 575px) {
    section {
        display: flex;
        flex-direction: column;

        padding: 25px 15px 5px 15px;
        > div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 5px 0 5px 0;
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    section {
        display: flex;
        flex-direction: row-reverse;
        padding: 25px 15px 5px 15px;
    }
}