@import '../../../colors';

:host {
    display: flex;
    flex-direction: column;
    width: 100%;
    > nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        transition: transform 0.1s ease-in;
        user-select: none;
        -webkit-user-select: none;
        overflow: hidden;
        z-index: 100;
        > i {
            position: absolute;
            top: 3.5rem;
            right: 3.5rem;
            width: 0;
            height: 0;
            border: 0 solid rgba($primary-color, 1);
            border-radius: 50%;
            background-color: rgba($text-light-color, 1);
            transform: translate(50%, -50%);
            z-index: 101;
        }
        > a {
            position: relative;
            width: 3rem;
            min-width: 3rem;
            height: 3rem;
            min-height: 3rem;
            margin: 2rem;
            z-index: 102;
            > i {
                position: absolute;
                width: 3rem;
                height: 2px;
                border-radius: 1px;
                background-color: rgba($text-neutral-color, 1);
                &:nth-of-type(1) {
                    top: 20%;
                }
                &:nth-of-type(2) {
                    top: 50%;
                    transform: translateY(-50%) scaleX(1);
                }
                &:nth-of-type(3) {
                    bottom: 20%;
                }
            }
        }
        > ul {
            visibility: hidden;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 0;
            height: 0;
            opacity: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;
            z-index: 102;
            > li {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 5rem 0;
                > a {
                    font-size: 4rem;
                    font-weight: 300;
                    text-decoration: none;
                    color: rgba($text-neutral-color, 1);
                }
            }
        }
        &:not(.open).hide {
            transform: translateY(-10rem);
            transition: transform .5s ease-in;
        }
        &.open  {
            height: 100%;
            overflow: hidden;
            > i {
                width: 250vh;
                height: 250vh;
                border: 100vw solid rgba($primary-color, 0);
                transition: all .5s ease-in;
            }
            > a > i {
                transition: transform .2s ease-in;
                &:nth-of-type(1) {
                    transform: translate(.5rem, -.25rem) rotate(45deg);
                    transform-origin: left;
                }
                &:nth-of-type(2) {
                    transform: translateY(-50%) scaleX(0);
                    transform-origin: center;
                }
                &:nth-of-type(3) {
                    transform: translate(.5rem, .25rem) rotate(-45deg);
                    transform-origin: left;
                }
            }
            > ul {
                visibility: visible;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity 1s ease-in;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    :host {
        > nav {
            > i, > a {
                display: none;
            }
            &.open {
                height: initial;
                overflow: initial;
            }
            > ul {
                visibility: visible;
                flex-direction: row;
                justify-content: flex-end;
                width: 100%;
                height: 100%;
                opacity: 1;
                padding: 0 5rem;
                > li {
                    position: relative;
                    padding: 0;
                    > a {
                        font-size: 1.25rem;
                        font-weight: 300;
                        text-decoration: none;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        padding: 3.5rem 2.5rem;
                        color: rgba($text-neutral-color, 1);
                    }
                    &:before {
                        content: '';
                        position: absolute;
                        top: -5rem;
                        width: 100%;
                        height: 5rem;
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, .25) 20%, rgba(255, 255, 255, .8) 40%, rgba(255, 255, 255, 1) 100%);
                        transform: perspective(50px) rotateX(45deg);
                    }
                    &:hover {
                        > a {
                            color: rgba($text-dark-color, 1);
                        }
                        &:before {
                            top: -1rem;
                            transform: perspective(150px) rotateX(45deg);
                            transition: all 0.5s;
                        }
                    }
                }
            }
        }
    }
}



