@import '../../colors';
:host {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: $text-light-color;
    padding: 7.5rem 10%;
    > header {
        display: flex;
        flex-direction: column;
        > a > img {
            width: 5rem;
            height: 5rem;
            margin-right: 5rem;
        }
        > h1 {
            font-size: 3rem;
            font-weight: 500;
            color: rgba($text-dark-color, 1);
        }
    }
    > main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        > div {
            display: flex;
            flex-direction: column;
            > p {
                font-size: 1.75rem;
            }
            > figure {
                display: flex;
                flex-direction: column;
                margin: 25px;
                padding: 0;
                background-color: rgba($text-light-color, 1);
                > ngx-duallistbox {
                    margin: 25px;
                    width: 100%;
                    box-sizing: border-box;
                }
            }
            > div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                > a {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    font-size: 1.5rem;
                    font-weight: 200;
                    width: fit-content;
                    letter-spacing: 2px;
                    padding: 2rem 3rem;
                    margin: 2.5rem 2rem 2.5rem 0;
                    color: rgba($text-dark-color, 1);
                    background-color: transparent;
                    border: 2px solid rgba($text-dark-color, 1);
                    outline: 0;
                    text-decoration: none;
                    > img {
                        width: 20px;
                        height: 20px;
                        margin: 0 2rem 0 0;
                        transition: transform .15s ease-in;
                    }
                    &:hover {
                        cursor: pointer;
                        background-color: rgba($text-dark-color, 1);
                        color: rgba($text-light-color, 1);
                        > img {
                            transform: scale(1.5);
                            filter: invert(1);
                            transition: transform 0.25s ease-out;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    :host {
        > header {
            flex-direction: row;
            align-items: center;
            margin: 7.5rem 0 5rem 0;
        }
        > main {
            > div {
                > figure {
                    flex-direction: row;
                    flex-wrap: wrap;
                    > ngx-duallistbox {
                        width: 50%;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    :host {
        > header {
            width: 900px;
            margin: 7.5rem auto 5rem auto;
            > h1 {
                font-size: 5rem;
            }
        }
        > main {
            width: 900px;
            margin: 0 auto;
            > div {
                > figure {
                    > ngx-duallistbox {
                        width: 33%;
                    }
                }
            }
        }
    }
}