<section>
  <div></div>
  <h1>ANGULAR DEVELOPER</h1>
  <i></i>
  <div>
    <div>
      <div>
        <p>Coding</p>
        <ul>
          <li>
            <div>Angular</div>
          </li>
          <li>
            <div>Node</div>
          </li>
          <li>
            <div>Typescript</div>
          </li>
          <li>
            <div>Redux</div>
          </li>
          <li>
            <div>SSR</div>
          </li>
          <li>
            <div>Angular</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>