<section [style.height.px]="screenHeight">
  <div [style.height.px]="topSpace"></div>
  <h1>FULLSTACK DEVELOPER</h1>
  <i></i>
  <div class="col-12 flip">
    <div class="row">
      <div class="content">
        <div class="visible">
          <p>Coding</p>
          <ul>
            <li>
              <div>Java</div>
            </li>
            <li>
              <div>Angular4</div>
            </li>
            <li>
              <div>Typescript</div>
            </li>
            <li>
              <div>HTML5</div>
            </li>
            <li>
              <div>PHP</div>
            </li>
            <li>
              <div>Spring</div>
            </li>
            <li>
              <div>MongoDB</div>
            </li>
            <li>
              <div>Javascript</div>
            </li>
            <li>
              <div>MySQL</div>
            </li>
            <li>
              <div>Apache</div>
            </li>
            <li>
              <div>Java</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>