<main>
    <div>
        <div>
            <a [routerLink]="['/']">
                <img src="assets/icons/back.svg">
            </a>
            <h1>@suarsan/ngx-duallistbox</h1>
        </div>
        <p>Sit eiusmod sint dolor incididunt proident enim deserunt non cupidatat amet in. Dolore ut anim aute est tempor eu est eu labore labore incididunt ad. Dolor occaecat sint labore velit ullamco elit sunt et. Occaecat culpa nisi mollit nostrud sunt. Voluptate tempor dolor veniam non deserunt incididunt fugiat cupidatat duis est consectetur consequat amet. Occaecat magna occaecat in laborum sint consequat adipisicing aliqua tempor amet labore elit nulla in.</p>
        <p>Qui esse qui ad id consectetur duis dolor duis eu. Ut sunt magna reprehenderit et ullamco laboris elit ullamco commodo do anim. Sunt cillum ea minim laboris quis adipisicing in ex ut. Irure occaecat duis ea magna ex incididunt cupidatat qui Lorem elit excepteur. Occaecat adipisicing qui ullamco qui aute enim cillum. Cupidatat nostrud qui duis nisi minim Lorem quis qui Lorem sint commodo reprehenderit adipisicing.</p>
        <p>Magna consectetur veniam duis est Lorem eu fugiat qui cupidatat dolore magna dolore. Velit mollit excepteur do nulla anim. Laboris magna deserunt elit quis non. Dolor in nostrud deserunt aute commodo aliquip elit aliquip ea ipsum ut. Irure nulla est voluptate cupidatat est incididunt.</p>
        <p>Sit commodo laborum commodo in irure mollit eiusmod labore mollit commodo id. Aliqua mollit aute officia voluptate excepteur elit eu aliqua occaecat consectetur eiusmod magna nisi excepteur. Qui velit magna mollit pariatur ex enim. Qui incididunt do do et reprehenderit laborum enim velit aliquip ipsum veniam est. Quis adipisicing tempor amet deserunt duis laborum amet ea consequat quis velit est quis officia. Consectetur amet cillum sint commodo.</p>
        <p>Veniam laboris consequat ad reprehenderit tempor veniam. Mollit sit eiusmod excepteur nostrud sit enim qui sunt exercitation irure id commodo ex. Dolore cupidatat elit sint officia qui sunt enim velit mollit reprehenderit velit occaecat. Nisi do elit ullamco cillum eiusmod qui. Quis laborum eiusmod nisi sit consequat est exercitation fugiat.</p>
        <div>
            <a href="https://github.com/Suarsan" target="_blank">
                <img src="assets/icons/github.svg" alt="github">
                View on Github
            </a>
            <a href="https://npm.com" target="_blank">
                <img src="assets/icons/npm.svg" alt="npm">
                View on NMPM
            </a>
        </div>
    </div>
</main>