@import '../../../colors';

section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/quote_bg.jpg');
    background-size: cover;
    background-position: center center;
    > article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 100px 0 100px 0;
        background-color: rgba($text-dark-color, 0.96);
        > blockquote {
            font-size: 2.5rem;
            font-weight: 100;
            font-style: italic;
            color: rgba($text-light-color, 1);
            text-align: center;
            padding: 0 12% 0 12%;
        }
    }
}