<section>
  <div>
    <app-skill-bar title="ANGULAR" value="95" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="NODE" value="85" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="TYPESCRIPT" value="90" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="NGRX" value="50" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="SSR" value="70" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
  </div>
  <div>
    <app-skill-bar title="REST" value="85" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="GRAPHQL" value="70" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="SASS/SCSS" value="95" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="POSTGRESQL" value="55" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="ELECTRON" value="40" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
  </div>
</section>