<section>
  <div>
    <app-skill-bar title="HTML5" value="95" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="CSS3" value="90" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="SASS/SCSS" value="75" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="JAVA" value="50" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="FLEX" value="85" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
  </div>
  <div>
    <app-skill-bar title="ANGULAR" value="80" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="NODE" value="50" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="TYPESCRIPT" value="80" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="MONGODB" value="35" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
    <app-skill-bar title="CORDOVA" value="45" height="5px" outColor="#444" inColor="rgba(44, 196, 210, 0.9)"
      titleColor="rgba(255,255,255,0.5)"></app-skill-bar>
  </div>
</section>